/* <section class="img">
        <div class="overlay"></div>
    </section>

section.img {
    width: 100%;
    height: 100%;
    background-image: url(../image/image-fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor01:#F50C0C;
    --cor02:#CA2C2C;
    --cor03:#A03D3D;
    --cor04:#754141;
    --cor05:#4A3535;
    --cor06:#332D2D;
}


* {
    box-sizing: border-box;
    border: 0;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body {
    color: white;
    background-image: url(../image/image-fundo.jpg);
    background-position: center;
    background-size: cover;
    align-content: center;
}


header {
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.botoesheader > a > button {
    width: 180px;
    background-color: var(--cor02);
    color: white;
    border-width: 1px;
    padding: 7px;
    margin-left: 10px;
    border-radius: 60px;
    font-weight: bolder;
    cursor: pointer;
}

.botoesheader > a > button.botaologin {
    width: 70px;
    background-color: var(--cor02);
    border-radius: 7px;
}

.botoesheader > a > button:hover {
    background-color: white;
    color: var(--cor01);
    transition-duration: 0.5s;
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

main h1 {
    color: #CA2C2C;
    font-size: 3rem;
    margin-bottom: 3rem;
}

main .socialmedia {
    display: flex;
    align-content: center;
}

main .socialmedia > a {
    text-decoration: none;
}

main .socialmedia > a > img {
    border-radius: 10px;
}

main .socialmedia img {
    width: 36px;
    margin-left: 3rem;
}

main .socialmedia a:first-child img {
    margin-left: 0;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background-color: rgba(0, 0, 0, 0.905);
    width: 300px;
    height: 50px;
    padding: 0px 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgb(166, 166, 166);
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 8px;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background-color: #CA2C2C;
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

main form input[type="submit"]:hover {
    background-color: #8f0707;
}

main .socialmedia {
    display: flex;
    align-items: center;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(182, 180, 180);
    position: relative;
}

main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background-color: rgb(182, 180, 180);
}

main .alternative span::after {
    left: 50px;
}


footer {
    background-color: black;
    padding: 30px;
    margin-top: 30px;
}

footer > p {
    color: rgb(111, 111, 111);
    margin: 20px;
}

footer > p > a {
    color: rgb(135, 135, 135);
}

footer > ul {
    list-style-type: none;
    list-style-position: inside;
    columns: 4;
    text-align: justify;
    padding: 30px 170px;
    
}

footer > ul > a {
    color: rgb(124, 124, 124);
    font-size: 13px;
    padding: 6px;

}
